services:
  postgres:
    image: bitnami/postgresql:16.3.0
    container_name: postgres-react
    environment:
      POSTGRESQL_DATABASE: postgresDB
      POSTGRESQL_USERNAME: ${user_postgres}
      POSTGRESQL_PASSWORD: ${pass_postgres}
    ports:
      - '5432:5432'
    volumes:
      - postgres_react_db:/var/lib/postgresql/data
volumes:
  postgres_react_db:
  redis_data:
    driver: local
