spring:
  application:
    name: effective-react
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/postgresDB
    username: postgres
    password: postgres123
    name: postgresDB
  jpa:
    hibernate:
      ddl-auto: validate
